{
  "name": "Sito",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "Sito/scss/app.scss",
      "imports": [
        "Sito/scss/_settings.scss",
        "Sito/node_modules/foundation-sites/scss/foundation.scss",
        "Sito/node_modules/motion-ui/motion-ui.scss",
        "Sito/node_modules/foundation-sites/scss/util/_util.scss",
        "Sito/node_modules/foundation-sites/_vendor/normalize-scss/sass/_normalize.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_missing-dependencies.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/_true.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_contain.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_purge.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_remove.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_replace.scss",
        "Sito/node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/_to-list.scss",
        "Sito/node_modules/foundation-sites/scss/settings/_settings.scss",
        "Sito/node_modules/foundation-sites/scss/_global.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_grid.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_xy-grid.scss",
        "Sito/node_modules/foundation-sites/scss/typography/_typography.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_forms.scss",
        "Sito/node_modules/foundation-sites/scss/components/_visibility.scss",
        "Sito/node_modules/foundation-sites/scss/components/_float.scss",
        "Sito/node_modules/foundation-sites/scss/components/_button.scss",
        "Sito/node_modules/foundation-sites/scss/components/_button-group.scss",
        "Sito/node_modules/foundation-sites/scss/components/_accordion-menu.scss",
        "Sito/node_modules/foundation-sites/scss/components/_accordion.scss",
        "Sito/node_modules/foundation-sites/scss/components/_badge.scss",
        "Sito/node_modules/foundation-sites/scss/components/_breadcrumbs.scss",
        "Sito/node_modules/foundation-sites/scss/components/_callout.scss",
        "Sito/node_modules/foundation-sites/scss/components/_card.scss",
        "Sito/node_modules/foundation-sites/scss/components/_close-button.scss",
        "Sito/node_modules/foundation-sites/scss/components/_drilldown.scss",
        "Sito/node_modules/foundation-sites/scss/components/_dropdown-menu.scss",
        "Sito/node_modules/foundation-sites/scss/components/_dropdown.scss",
        "Sito/node_modules/foundation-sites/scss/components/_flex.scss",
        "Sito/node_modules/foundation-sites/scss/components/_responsive-embed.scss",
        "Sito/node_modules/foundation-sites/scss/components/_label.scss",
        "Sito/node_modules/foundation-sites/scss/components/_media-object.scss",
        "Sito/node_modules/foundation-sites/scss/components/_menu.scss",
        "Sito/node_modules/foundation-sites/scss/components/_menu-icon.scss",
        "Sito/node_modules/foundation-sites/scss/components/_off-canvas.scss",
        "Sito/node_modules/foundation-sites/scss/components/_orbit.scss",
        "Sito/node_modules/foundation-sites/scss/components/_pagination.scss",
        "Sito/node_modules/foundation-sites/scss/components/_progress-bar.scss",
        "Sito/node_modules/foundation-sites/scss/components/_reveal.scss",
        "Sito/node_modules/foundation-sites/scss/components/_slider.scss",
        "Sito/node_modules/foundation-sites/scss/components/_sticky.scss",
        "Sito/node_modules/foundation-sites/scss/components/_switch.scss",
        "Sito/node_modules/foundation-sites/scss/components/_table.scss",
        "Sito/node_modules/foundation-sites/scss/components/_tabs.scss",
        "Sito/node_modules/foundation-sites/scss/components/_title-bar.scss",
        "Sito/node_modules/foundation-sites/scss/components/_top-bar.scss",
        "Sito/node_modules/foundation-sites/scss/components/_thumbnail.scss",
        "Sito/node_modules/foundation-sites/scss/components/_tooltip.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_prototype.scss",
        "Sito/node_modules/motion-ui/src/motion-ui.scss",
        "Sito/node_modules/foundation-sites/scss/util/_math.scss",
        "Sito/node_modules/foundation-sites/scss/util/_unit.scss",
        "Sito/node_modules/foundation-sites/scss/util/_value.scss",
        "Sito/node_modules/foundation-sites/scss/util/_direction.scss",
        "Sito/node_modules/foundation-sites/scss/util/_color.scss",
        "Sito/node_modules/foundation-sites/scss/util/_selector.scss",
        "Sito/node_modules/foundation-sites/scss/util/_flex.scss",
        "Sito/node_modules/foundation-sites/scss/util/_breakpoint.scss",
        "Sito/node_modules/foundation-sites/scss/util/_mixins.scss",
        "Sito/node_modules/foundation-sites/scss/util/_typography.scss",
        "Sito/node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize/_variables.scss",
        "Sito/node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize/_vertical-rhythm.scss",
        "Sito/node_modules/foundation-sites/_vendor/normalize-scss/sass/normalize/_normalize-mixin.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_row.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_column.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_size.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_position.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_gutter.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_classes.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_layout.scss",
        "Sito/node_modules/foundation-sites/scss/grid/_flex-grid.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_gutters.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_grid.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_cell.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_frame.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_position.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_layout.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_collapse.scss",
        "Sito/node_modules/foundation-sites/scss/xy-grid/_classes.scss",
        "Sito/node_modules/foundation-sites/scss/typography/_base.scss",
        "Sito/node_modules/foundation-sites/scss/typography/_helpers.scss",
        "Sito/node_modules/foundation-sites/scss/typography/_alignment.scss",
        "Sito/node_modules/foundation-sites/scss/typography/_print.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_text.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_checkbox.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_label.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_help-text.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_input-group.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_fieldset.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_select.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_range.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_progress.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_meter.scss",
        "Sito/node_modules/foundation-sites/scss/forms/_error.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_relation.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_box.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_rotate.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_text-utilities.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_text-transformation.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_text-decoration.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_font-styling.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_list-style-type.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_rounded.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_bordered.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_shadow.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_arrow.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_separator.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_overflow.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_display.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_position.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_border-box.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_border-none.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_sizing.scss",
        "Sito/node_modules/foundation-sites/scss/prototype/_spacing.scss",
        "Sito/node_modules/motion-ui/src/_settings.scss",
        "Sito/node_modules/motion-ui/src/util/_animation.scss",
        "Sito/node_modules/motion-ui/src/util/_args.scss",
        "Sito/node_modules/motion-ui/src/util/_keyframe.scss",
        "Sito/node_modules/motion-ui/src/util/_selector.scss",
        "Sito/node_modules/motion-ui/src/util/_series.scss",
        "Sito/node_modules/motion-ui/src/util/_transition.scss",
        "Sito/node_modules/motion-ui/src/util/_unit.scss",
        "Sito/node_modules/motion-ui/src/effects/_fade.scss",
        "Sito/node_modules/motion-ui/src/effects/_hinge.scss",
        "Sito/node_modules/motion-ui/src/effects/_spin.scss",
        "Sito/node_modules/motion-ui/src/effects/_zoom.scss",
        "Sito/node_modules/motion-ui/src/effects/_shake.scss",
        "Sito/node_modules/motion-ui/src/effects/_slide.scss",
        "Sito/node_modules/motion-ui/src/effects/_wiggle.scss",
        "Sito/node_modules/motion-ui/src/transitions/_fade.scss",
        "Sito/node_modules/motion-ui/src/transitions/_hinge.scss",
        "Sito/node_modules/motion-ui/src/transitions/_zoom.scss",
        "Sito/node_modules/motion-ui/src/transitions/_slide.scss",
        "Sito/node_modules/motion-ui/src/transitions/_spin.scss",
        "Sito/node_modules/motion-ui/src/_classes.scss"
      ]
    },
    {
      "path": "Sito/scss/style.scss",
      "imports": [
        "Sito/scss/_settings.scss",
        "Sito/scss/mixin/mixin.scss",
        "Sito/scss/components/utils/_utils.scss",
        "Sito/scss/components/_about.scss",
        "Sito/scss/components/_animation.scss",
        "Sito/scss/components/_button.scss",
        "Sito/scss/components/_grid.scss",
        "Sito/scss/components/_home.scss",
        "Sito/scss/components/_menu.scss",
        "Sito/scss/components/_works.scss",
        "Sito/node_modules/foundation-sites/scss/util/_util.scss",
        "Sito/scss/components/utils/_spacing.scss",
        "Sito/node_modules/foundation-sites/scss/util/_math.scss",
        "Sito/node_modules/foundation-sites/scss/util/_unit.scss",
        "Sito/node_modules/foundation-sites/scss/util/_value.scss",
        "Sito/node_modules/foundation-sites/scss/util/_direction.scss",
        "Sito/node_modules/foundation-sites/scss/util/_color.scss",
        "Sito/node_modules/foundation-sites/scss/util/_selector.scss",
        "Sito/node_modules/foundation-sites/scss/util/_flex.scss",
        "Sito/node_modules/foundation-sites/scss/util/_breakpoint.scss",
        "Sito/node_modules/foundation-sites/scss/util/_mixins.scss",
        "Sito/node_modules/foundation-sites/scss/util/_typography.scss"
      ]
    },
    {
      "path": "Sito/scss/_settings.scss",
      "imports": [
        "Sito/node_modules/foundation-sites/scss/util/_util.scss",
        "Sito/node_modules/foundation-sites/scss/util/_math.scss",
        "Sito/node_modules/foundation-sites/scss/util/_unit.scss",
        "Sito/node_modules/foundation-sites/scss/util/_value.scss",
        "Sito/node_modules/foundation-sites/scss/util/_direction.scss",
        "Sito/node_modules/foundation-sites/scss/util/_color.scss",
        "Sito/node_modules/foundation-sites/scss/util/_selector.scss",
        "Sito/node_modules/foundation-sites/scss/util/_flex.scss",
        "Sito/node_modules/foundation-sites/scss/util/_breakpoint.scss",
        "Sito/node_modules/foundation-sites/scss/util/_mixins.scss",
        "Sito/node_modules/foundation-sites/scss/util/_typography.scss"
      ]
    },
    {
      "path": "Sito/scss/components/utils/_utils.scss",
      "imports": [
        "Sito/scss/components/utils/_spacing.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}