$scrollhide-nav-transition-speed: .5s;

@mixin component-menu {

.scrollhide-nav {
  position: fixed;
  background-color: rgba($body-bg, .9);
  backdrop-filter: blur(0.313rem);
  border-bottom:  0.063rem solid $gray-900;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  animation: .8s ease-out 0s 1 fadeIn;
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);
  
  &.hidden {
    transform: translateY(-100%);
    }
    @media (-webkit-transform-2d) {
    
  &.menu-safari{
    -webkit-transform: none;
    }
  }
}

.menu-logo-mobile{
  @include breakpoint(small only) {
  float: left;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
  width: 2.5rem;

  &.offcanvas-closed{
  margin-left: 20%;
    }

  &.offcanvas-open{
  position: absolute;
  top: 0;  
  margin-left: 6.667%;
    }  
  }
}

.menu-logo-desk{
  @include breakpoint(medium) {
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 26.5%;
  width: 7rem;
      }   
  }

.menu-items-desk{
  @include breakpoint(medium) {
  margin-top: 0.75rem;
  margin-right: 6%;
  margin-bottom: 0.75rem;
  margin-left: 0;
  height: 100%;
      }

  @include breakpoint(large) {
  margin-right: 9%;
      }    
}

.width-100{
  width: 100%;
  padding: 0 6.7%;
}

// Nav bar mobile

.off-canvas{
  min-height: 100%;
}

.off-canvas-absolute{
  background-color: $body-bg;
  border-bottom: 0.063rem solid $gray-900;
  position: fixed;

  &.position-top{
    height: 20.563rem;
  }
}

.menu.vertical{
  @include breakpoint(small only) {
    li{
      padding: 0;
      height: 4rem;
      display: flex;
      align-items: center;
      &#top-bar-offcanvas{
        height: 4.5rem;
        background-color: $gray-900;
      }
      &:nth-child(2){
        padding: 0;
      }
      &:nth-child(4){
        padding: 0;
      }
      a{
        padding: 1.5rem 1rem 1.5rem 1.5rem;
        color: $gray-900;
        font-weight: 600;
        &#first-line-menu{
          padding: 2rem 1rem 1rem 1.5rem;
        }
        &#last-line-menu{
          padding: 1rem 1rem 2rem 1.5rem;
        }
      }
    }
  }
}

.js-off-canvas-overlay{
  backdrop-filter: blur(0.375rem);
  @include transition(all,.1s,ease);
}  

// Nav bar desktop
.title-bar {
  background: transparent;
  padding-top: 1.25rem;
  padding-right: 9%;
  padding-bottom: 0;
  padding-left: 0.9rem;
}

.top-bar {
  background: transparent;
  padding: 0;
  justify-content: right;
    ul{
        a {
          font-size: 1rem;
          font-weight: 700;
          color: $gray-900;
          text-decoration: none;
          padding: 0.938rem 1rem !important;
          border: 0.063rem solid transparent;

          &:hover{
           border: 0.063rem solid $gray-900;
           border-radius: 0.25rem;
          }

          &:focus{
           color: $body-bg;
           background-color: $gray-900; 
           border: 0.063rem solid $gray-900;
           border-radius: 0.25rem;
          }
        }
      }
    }

.menu-text {
  @include breakpoint(medium) {
    display: none !important;
  }
}

@include breakpoint(medium) {
  .menu:last-child {
    border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    background-color: transparent;
    border-left: none;
  }
 }

}
